<div class="list-toolbar" role="toolbar" [attr.aria-label]="'common.listToolbar' | transloco">
  @if (showSort && sortOptions.length > 0) {
    <label class="list-toolbar__field">
      <span class="list-toolbar__label">{{ 'common.sortBy' | transloco }}</span>
      <select
        class="list-toolbar__select"
        [ngModel]="sortBy"
        (ngModelChange)="onSortByChange($event)"
        name="listToolbarSort">
        @for (opt of sortOptions; track opt.value) {
          <option [value]="opt.value">{{ opt.labelKey | transloco }}</option>
        }
      </select>
    </label>
    <label class="list-toolbar__field">
      <span class="list-toolbar__label">{{ 'common.direction' | transloco }}</span>
      <select
        class="list-toolbar__select"
        [ngModel]="sortDirection"
        (ngModelChange)="onDirectionChange($event)"
        name="listToolbarDir">
        <option value="DESC">{{ 'common.descending' | transloco }}</option>
        <option value="ASC">{{ 'common.ascending' | transloco }}</option>
      </select>
    </label>
  }
  @if (showPageSize) {
    <label class="list-toolbar__field">
      <span class="list-toolbar__label">{{ 'common.pageSize' | transloco }}</span>
      <select
        class="list-toolbar__select"
        [ngModel]="pageSize"
        (ngModelChange)="onPageSizeChange($event)"
        name="listToolbarSize">
        @for (s of pageSizes; track s) {
          <option [ngValue]="s">{{ s }}</option>
        }
      </select>
    </label>
  }
  <ng-content></ng-content>
</div>
