@import '../activate-email/activate-email.css';

.email {
  margin: var(--spacing-md) 0 0;
  font-weight: var(--font-weight-semibold);
  color: var(--color-primary);
  word-break: break-all;
}

.btn {
  display: inline-block;
  text-decoration: none;
}
